*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    background: linear-gradient(130deg, #ff0000,#000000);
}
.container{
    max-width: 700px;
    width:100%;
    background:#fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    height:3px;
    width:30px;
    background: linear-gradient(135deg,#ff0000,#000000);
}
.container form .user-details{
 
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box input{
    margin-bottom: 15px;
    width: calc(100%/2-20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
.user-details .input-box .add{
    width: 425px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #000000;
}

form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#ff0000,#000000);
}
form .button input:hover{
    background: linear-gradient(-135deg,#ff0000,#000000);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width:100%;
    }
   
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width:0;
    }
}