<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Home Page</title>
    <link rel="stylesheet" href="#" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.jpg}"  src="../static/images/logo.jpg" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active" sec:authorize="hasAnyAuthority('admin')">
                    <a class="nav-link" th:href="@{/admin}" href="#">admin-home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>

<section class="home" id="home">



<div class="content">
<h1>Pizza Mania</h1>
<h3>pizza made with love</h3>
<p>For you... always!!</p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>



<div class="image">
<img src="images/pizza-png-free-download-41.png" alt="" />
</div>



</section>
<section class="bestsellars" id="bestsellars">



<h1 class="heading"> our <span>bestsellars</span> </h1>



<div class="box-container">



<div class="box">
<img class="image" src="images/NEWcheesepepperoni.jpg" alt="" />
<div class="content">
<img class="pimg" src="images/pepSYMBOL.png" alt="" />
<h3>Pepperoni pizza</h3>
<p>Maharaj Pepperoni</p>
<p>Jolo Pepperoni</p>
</div>
</div>
<div class="box">
<img class="image" src="images/s-img-2.jpg" alt="" />
<div class="content">
<img src="images/s-2.png" alt="" />
<h3>tasty pizza</h3>
<p>Valentine pizza</p>
<p>Dollar pizza</p>
</div>
</div>
<div class="box">
<img class="image" src="images/pizza-non-veg-extra-vagenza.jpg" alt="" />
<div class="content">
<img class="cimg" src="images/NONSYMBOL.png" alt="" />
<h3>Non-veg supreme chicken</h3>
<p>survivor Chicken pizza</p>
<p>Non-veg Overload</p>
</div>
</div>
<div class="box">
<img class="image" src="images/s-img-4.jpg" alt="" />
<div class="content">
<img src="images/s-4.png" alt="" />
<h3>beverages</h3>
<p>Dark mojito</p>
<p>Deep Blue Ocean</p>



</div>
</div>
</div>



</section>
<section class="gallery" id="gallery">



<h1 class="heading"> our food <span> gallery </span> </h1>



<div class="box-container">



<div class="box">
<img src="images/tandoori-onionjpg.jpg" alt="" />
<div class="content">
<h3>tandoori onion pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/veh kebab.jpg" alt="" />
<div class="content">
<h3>veg Kebab pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/double-chicken-sausage.jpg" alt="" />
<div class="content">
<h3>Double chicken double-chicken-sausage pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/double-cheese.jpg" alt="" />
<div class="content">
<h3>Double Cheese</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/ChickenSupremme.jpg" alt="" />
<div class="content">
<h3>ChickenSupremme pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/farmers-pick.jpg" alt="" />
<div class="content">
<h3>farmers pick pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/chicken-pepperoni.jpg" alt="" />
<div class="content">
<h3>chicken pepperoni pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/momo.jpg" alt="" />
<div class="content">
<h3>Momo pizza</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>
<div class="box">
<img src="images/new york Style pizza.jpg" alt="" />
<div class="content">
<h3>New york</h3>
<p></p>
<a href="#" th:href="@{/shop}" class="btn">order now</a>
</div>
</div>



</div>



</section>

<!--<div class="loader-container">
<img src="images/loader.gif" alt="" />
</div>-->



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>